
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Calibri", sans-serif;
  }
  
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }

  /* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color:#4c9e9e;
    color: #fff;
  }
  
  .nav-links a {
    color: #fff;
  }
  
  /* LOGO */
  .logo {
    font-size: 32px;
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 14px;
  }
  
  /* DROPDOWN MENU */
  .TeamList {
    position: relative; 
  }
  
  .dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
  }
  
  .dropdown li + li {
    margin-top: 10px;
  }
  
  .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
  }
  
  .dropdown li:hover {
    background-color: #4c9e9e;
  }
  
  .TeamList:hover .dropdown {
    display: block;
  }

  /* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
    display: none;
  } 
  
  /* HAMBURGER MENU */
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
  
  /* APPLYING MEDIA QUERIES */
  @media (max-width: 768px) {
   .menu {
      display:none;
      position: absolute;
      background-color:teal;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
  
    .menu li:hover {
      display: inline-block;
      background-color:#4c9e9e;
      transition: 0.3s ease;
    }
  
    .menu li + li {
      margin-top: 12px;
    }
  
    input[type=checkbox]:checked ~ .menu {
      display: block;
    }
  
    .hamburger {
      display: block;
    }
  
    .dropdown {
      left: 50%;
      top: 30px;
      transform: translateX(35%);
    }
  
    .dropdown li:hover {
      background-color: #4c9e9e;
    }
  }










  
  /* Footer styles */
footer {
    background-color: teal;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 24px;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .developer-name {
    margin-right: 10px;
  }
  
  .developer-name,
  a img {
    height: 25px;
  }
  
  /* Media queries for mobile responsiveness */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
  
    .developer-name {
      margin-bottom: 15%;
    }
  
    .developer-name,
    a img {
      height: 20px;
    }
  }



  



  .flex-container {
    display: flex;
   justify-content: space-around;
  }
  
  .flex-container > div {
    background-color:rgb(249 3 131);
    margin: 10px;
    padding: 20px;
    font-size: 19px;
    cursor: pointer;
    border-radius: 30px;
  }
  @media (max-width: 768px) {
    .flex-container {
      flex-direction: column;
    }
  }

  .footer a {
    color: #333333;
    text-decoration: none;
    font-weight: bold;
  }

  .footer a:hover {
    color: #007bff;
  }


  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh; /* 20% of viewport height */
    background-color:lightblue;
    color: #e91912;
    font-size: 130%;
  }

  body{
    background-color:rgb(241 240 238)
  }

  





  .container {
    max-width: 100%; /* Ensure the container takes the full width of the viewport */
    overflow: hidden;
    display: flex; /* Use flexbox to center the image */
    justify-content: center; /* Horizontally center the image on all screens */
  }
  
  .responsive-image {
    width: 100%; /* Image will fit the screen on small screens */
    height: auto; /* Maintain the aspect ratio */
  }
  
  /* Media query for relatively bigger screens like 14-inch screens */
  @media screen and (min-width: 10in) {
    .responsive-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;/* Set image width to 50% for relatively bigger screens */
    }
  }




  .slideshow {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.slides {
    display: flex;
    transition: transform 0.5s ease;
}
.slides img {
    max-width: 100%;
    height: auto;
    margin: 0;
}
